<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="cordova-4.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyApp</name>
    <description>
        一个只会测试而诞生的版本 
    </description>
    <author email="jonny.peng@qq.com" href="http://121.40.196.117">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
	    <icon src="res/icon.png" />
	    <splash src="res/screen.png" />
	    <sl/>
    </platform>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
</widget>
